* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin-top: 50px;
  width: 700px;
  height: 500px;
  border: solid black 5px;
}

img {
  height: 491px;
  width: 691px;
}
