* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  margin-top: 50px;
  width: 700px;
  height: 500px;
  border: solid black 5px;
}

img {
  height: 491px;
  width: 691px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.navigation-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%; /* To make it a circle */
  background-color: #bbb; /* Default color for inactive dots */
  margin: 0 5px; /* Adjust spacing between dots */
}

.navigation-dot.active {
  background-color: #333; /* Color for active dot */
}
